<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">
      <font color="#343F3E">EletronLab</font> </h1>
      <div class="row center">
        <h3 class="header col s12 light">
        <font color="#88C665"> Laboratório de prototipagem da EletronJun </font></h3>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'background1.jpg', alt: 'Unsplashed background img 1' %></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <center>
            <h2 class="center yellow-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Descrição do Sistema</h5>

            <p class="light">
              Seja bem vindo(a) ao EletronLabSystem. Neste site você pode se cadastrar e agendar horários para utilização do Laboratório de Prototipagem da EletronJun.
            </p>
          </center>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
        <center>
          <h2 class="center green-text"><i class="material-icons">group</i></h2>
          <h5 class="center">[Mostrar TipoDePerfil]</h5>

          <p class="light">Descrição do tipo de perfil.</p>
        </center>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
        <center>
          <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Configurações</h5>

          <p class="light">Gerencie sua conta, atualize seu cadastro ou edite seus dados aqui.</p>
        </center>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>O que é o EletronLab</h4>
        <p class="left-align light"> <center>
          A ideia do EletronLab nasceu com o intuito de criar um ambiente colaborativo de desenvolvimento de projetos e prototipagem em que acadêmicos, empresários e a sociedade em geral tenham possibilidade de acessar tecnologias específicas para a elaboração de trabalhos de alta qualidade em prototipagem e desenvolvimento de produto.

          O EletronLab será o espaço ideal para a inovação, promovendo a nova revolução industrial, movimento maker que vem conseguindo cada vez mais adeptos no mundo todo.

          Além de carregar conceitualmente a noção de compartilhar conhecimentos teórico e prático com os demais usuários do laboratório, será responsável por unir em um ambiente colaborativo pessoas que respiram os mesmos ideais e que juntas podem fundar novas startups no Gama. Além disso, será um polo de investimento das empresas de tecnologia que serão atraídas não apenas pelos cursos de engenharia, mas também pela existência do laboratório e pelo domínio que os frequentadores já possuem na área de gerenciamento de projetos.
        </p> </center>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="parallax"><%= image_tag 'background3.jpg', alt: 'Unsplashed background img 3' %></div>
</div>
