<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">EletronLab</h1>
      <div class="row center">
        <h5 class="header col s12 light">Laboratório de prototipagem da EletronJun</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'background1.jpg', alt: 'Unsplashed background img 1' %></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Alguma notícia</h5>

          <p class="light">Descrição da notícia.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Outra notícia</h5>

          <p class="light">Descrição da outra notícia</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Mais uma notícia</h5>

          <p class="light">Mais descrição.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Entre em contato</h4>
        <p class="left-align light">Mais algum conteúdo relevante.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Foto do EletronLab no fundo.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'background3.jpg', alt: 'Unsplashed background img 3' %></div>
</div>
