// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Set div of forms in center.*/
form{
    align-items: center;	
    margin-left: 200px;
    margin-right: 200px;
}