    <footer class="page-footer teal">
      <div class="footer-copyright" style="background: gray">
        <div class="container" style="background: gray">
          Aqui pode ter link para organização do github.
        </div>
      </div>
    </footer>
