<footer>
  <div class="container">
  <center>
    <a href="http://eletronjun.com.br/">
     <font color="#D2D3D5">
      <h5>Quer saber mais sobre a EletronJun?</h5>
      </font> 
    </a>
  </center>
  </div>
</footer>