    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Algum título</h5>
            <p class="grey-text text-lighten-4">Da pra remover este campo.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><%= link_to 'Home', root_path  %></li>
              <li><%= link_to 'Sobre', about_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Aqui pode ter link para organização do github.
        </div>
      </div>
    </footer>
