    <footer class="page-footer teal">
      <div class="footer-copyright">
        <div class="container">
          Aqui pode ter link para organização do github.
        </div>
      </div>
    </footer>
